In [8]:
# importing re and pandas libraries

import re
import pandas as pd

## Question 1

In the solution to the question 1, I will create a compile that would include all the words including "," and "." I will exclude all the digits. Then, I will use findall() function to get the asked result.

In [246]:
# saving the given text into a variable
txt = "555-1239Khan, Ghengis(636) 555-0113Fitzgerald, F. Scott555 -6542Rev. Adam Clayton Powell555 8904Loretta Lynn636-555-3226Case,Justin5553642Dr. Julius Erving555-401-2232Constance Prudence Boringsworth"

# creating the compile and saving it into a variable
pattern = re.compile(r"[a-z,\.\s]+[a-z]+", flags=re.IGNORECASE) # ignorecase gives all letters without being upper or lowercase

# using findall() to get the pattern in the text
code = pattern.findall(txt)

# checking the code
code

# saving the code in a vector
names = pd.Series(code) 
names

0                      Khan, Ghengis
1               Fitzgerald, F. Scott
2           Rev. Adam Clayton Powell
3                       Loretta Lynn
4                        Case,Justin
5                  Dr. Julius Erving
6    Constance Prudence Boringsworth
dtype: object

## Question 2

### 2-a 


I will solve this question in two steps. First, I will remove commas from the names vector using split() method. Then, I will create a new list to append the new version of the names. Then I will use for loop the reverse the order of the names and append new names into the list. Second, I will use another for loop to remove commas between names and surnames using join() method and append the final version of the names into another list. Finally, I will create a vector from that list.I was inspired from the link below in the solution, especially for the join method.

https://stackoverflow.com/questions/51644998/extracting-name-as-first-name-last-name-in-python

In [247]:
# first step
# splitting the names
names_split = names.str.split(",")

#creating a new list to append
names_update = []

# looping over the surname-name pairs
for name in names_split:
    name = name[::-1] # this reverse the order
    names_update.append(name)

    
#checking if the code works
names_update

[[' Ghengis', 'Khan'],
 [' F. Scott', 'Fitzgerald'],
 ['Rev. Adam Clayton Powell'],
 ['Loretta Lynn'],
 ['Justin', 'Case'],
 ['Dr. Julius Erving'],
 ['Constance Prudence Boringsworth']]

In [248]:
# second step

# creating another list
names_final = []

# looping over the reversed names
for name in names_update:
    x = " ".join(name) # remove commas 
    names_final.append(x)

# turning the new list into a vector
names_final = pd.Series(names_final)

# checking 
names_final

0                       Ghengis Khan
1                F. Scott Fitzgerald
2           Rev. Adam Clayton Powell
3                       Loretta Lynn
4                        Justin Case
5                  Dr. Julius Erving
6    Constance Prudence Boringsworth
dtype: object

### 2-b

I will first create a regex compile for pattern finding, then apply it to the final name list using str match() methods.

In [250]:
# creating a regex compile and saving it to a variable
title_compile = re.compile(r"[a-z]{1,3}\.", flags=re.IGNORECASE)

# using str and match() methods
names_final.str.match(title_compile)

0    False
1    False
2     True
3    False
4    False
5     True
6    False
dtype: bool

### 2-c

I could hardly create a pattern to get what is wanted in this question. For this reason, I used "either, or (|)" symbol to create three different compile patterns. Then I applied str. and match() method to final names list.

In [244]:
# creating regex patterns
mid_name = re.compile(r"\w+\s\w+\s\w+|\w{3}\.\s\w+|\s\w.\s\w+\s\w+")

# appyling the patterns to names vector using match() method
names_final.str.match(mid_name)

0    False
1     True
2     True
3    False
4    False
5    False
6     True
dtype: bool

## Question 3

To extract first "title" from the given statement, "<.+>" formulate does not work because ".+" marks at the end also covers all the words and marks in a given text. Rather, it can be modified with "<[A-Za-z]+?>"; it now covers all the letters lower or uppercase and adding "?" into code corresponds zero or one occurence of the corresponding value. I will also use match() and group() methods, since it gives the first occurence if the corresponding value. I will first try to extract using the given formulate, then fix it using my own code.

In [99]:
# saving the text into a varible
text3 = "<title>+++BREAKING NEWS+++<title>"

# creating the compile
title_false = re.compile(r"<.+>")

# getting the asked statement using match() method. it gives all in the text
prev3 = title_false.match(text3)

# using group() method
prev3.group()

'<title>+++BREAKING NEWS+++<title>'

In [251]:
# correcting the compile adding "?" after "."
title_correct = re.compile(r"<[a-z]+?>", flags=re.IGNORECASE)

# extracting the asked statement using the new compile
new3 = title_correct.match(text3)

# group() method to have the asked statement
new3.group()

'<title>'

## Question 4

The problem with the given solution is that it does not cover any number because of the wrong use "^" mark. It can be modified by bringing "\" in the beginning of that mark. We also need to cover "-" by only adding "\-". In that way, the code will give what we want to have. I will use findall(), match() and group() methods to have the string version og the goven equation.

In [74]:
# saving the text into a variable
text4 = "(5-3)^2=5^2-2*5*3+3^2"

# given compile
binom = re.compile(r"[^0-9=+*()]+")

# findall methods directly gives the result, which is not what we want to have
binom.findall(text4)

['-', '^', '^', '-', '^']

In [203]:
# modifying the given compile by adding "\-" at the beginning
binom_correct = re.compile(r"[\-^0-9=+*()]+")

# appyling the new compile using match() method and saving it into a new variable
new4 = binom_correct.match(text4)

# having the string version using group() method
new4.group()

'(5-3)^2=5^2-2*5*3+3^2'